/**
* Any CSS included here will be global. The classic template
* bundles Infima by default. Infima is a CSS framework designed to
* work well for content-centric websites.
*/
@tailwind components;
@tailwind utilities;

/* You can override the default Infima variables here. */
:root {
  --ifm-font-size-base: 105%;
  --ifm-color-primary: #413a92;
  --ifm-color-primary-dark: #3a3483;
  --ifm-color-primary-darker: #37317c;
  --ifm-color-primary-darkest: #2d2966;
  --ifm-color-primary-light: #4740a1;
  --ifm-color-primary-lighter: #4b43a8;
  --ifm-color-primary-lightest: #5850b9;
  --ifm-background-surface-color: #d9d7ea !important;
  --ifm-navbar-background-color: #e2e1ef !important;
  --ifm-background-color: #e2e1ef !important;
  --ifm-footer-background-color: #d9d7ea !important;
  --ifm-font-color-base: #06050a;
  --ifm-font-color-base-inverse: #f6f5fa;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #9f99d6;
  --ifm-color-primary-dark: #867fcb;
  --ifm-color-primary-darker: #7a72c6;
  --ifm-color-primary-darkest: #554ab6;
  --ifm-color-primary-light: #b8b3e1;
  --ifm-color-primary-lighter: #c4c0e6;
  --ifm-color-primary-lightest: #e9e8f6;
  --ifm-background-surface-color: #171528 !important;
  --ifm-navbar-background-color: #11101e !important;
  --ifm-background-color: #11101e !important;
  --ifm-footer-background-color: #171528 !important;
  --ifm-font-color-base: #f6f5fa;
  --ifm-font-color-base-inverse: #06050a;
}

img[alt="GameVault+ Banner"] {
  height: 3.75rem;
}

.banner {
  display: flex;
  gap: 0.5rem;
  align-items: end;
  margin-bottom: 1rem;
  font-size: 3.75rem;
  line-height: 1;
}
